<% provide(:title, 'Import Soundtrack') %>
<h1>Import Soundtrack</h1>

<div class="row">
  <div class="col-md-12">
    <p>
      Import your CSV file here and type in the soundtrack name. This import
      tool will add the artists and the songs into the database. In addition, if
      the soundtrack entered matches a current soundtrack name, it will add the
      imported songs into the soundtrack if it isn't already there.
    </p>

    <p>
      This import tool supports CSV files that come from both DLCQuickplay and
      C3 Con Tools Setlist Manager. However you MUST re-save C3's CSV under
      UTF-8 encoding using a text editor such as Notepad++ or Sublime Text.
      Namely, this import tool attempts to look for the "Artist" column and
      either the "Title" column or the "Song Title." However, do note that there
      may be issues if you attempt to import CSVs from both tools, most notably
      there may be duplicate song titles and/or artists, so it is good to check
      afterwards.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag process_import_soundtracks_url, multipart: true do %>
      <%= label_tag      :soundtrack %>
      <%= text_field_tag :soundtrack, nil, {placeholder: "Soundtrack Name", class: 'form-control'} %>

      <%= label_tag      :file %>
      <%= file_field_tag :file, {class: 'form-control', accept: 'text/csv'} %>

      <%= submit_tag "Import Soundtrack", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
