<% provide(:title, 'Soundtracks') %>
<h1>Soundtracks</h1>

<div class="row">
  <div class="col-sm-6" style="margin-bottom: 0.5em">
    <%= link_to "New Soundtrack", new_soundtrack_url, class: "btn btn-primary" %>
  </div>

  <div class="col-sm-6 text-sm-right" style="margin-bottom: 0.5em">
    <%= link_to "Import", import_soundtracks_url, class: "btn btn-primary" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @soundtracks.blank? %>
      <p>There are currently no soundtracks in the system.</p>
    <% else %>
      <%= will_paginate %>

      <ul id="soundtracks">
        <%= render @soundtracks %>
      </ul>

      <%= will_paginate %>
    <% end %>
  </div>
</div>
