<% if admin? || !song_request.is_abandoned %>
  <li
    data-request-id="<%= song_request.id %>"
    <% if song_request.abandoned? %>
      <% if admin? %>
        class="danger"
      <% else %>
        class="danger disabled"
      <% end %>
    <% elsif song_request.completed? %>
      <% if admin? %>
        class="success"
      <% else %>
        class="success disabled"
      <% end %>
    <% elsif song_request.in_progress? %>
      <% if admin? %>
        class="warning"
      <% else %>
        class="warning disabled"
      <% end %>
    <% elsif !admin? %>
      class="disabled"
    <% end %>
  >
    <% if admin? %>
      <% if !song_request.abandoned? && !song_request.completed? %>
        <div class="btn-group-vertical" role="group" style="float:right">
          <% if song_request.in_progress? %>
            <%= link_to "Complete", toggle_completed_request_path(song_request.id), method: :patch, class: "btn btn-success" %>
          <% else %>
            <%= link_to "Start", toggle_started_request_path(song_request.id), method: :patch, class: "btn btn-warning" %>
          <% end %>
          <%= link_to "Abandon", toggle_abandoned_request_path(song_request.id), method: :patch, class: "btn btn-danger" %>
        </div>
      <% end %>
    <% end %>
    <h3 class="song-info"><%= song_request.song.song_by_artist %></h3>
    <p class="band-info">Requested by <%= song_request.band.name %></p>
  </li>
<% end %>
