<li>
  <%= gravatar_for member.user, size: 50 %>
  <%= link_to member.user.name, member.user %>
  <% if member.is_admin? %>
    (Admin)
  <% end %>
  <% if @current_member && @current_member.is_admin? && !current_user?(member.user) && !member.is_admin? %>
    | <%= link_to "Remove from Band", remove_member_band_url(user_id: member.user_id), method: :delete %>
    | <%= link_to "Promote to Admin", promote_to_admin_band_url(user_id: member.user_id), method: :patch %>
  <% elsif current_user?(member.user) && member.is_admin? && @num_admins >= 2 %>
    | <%= link_to "Step Down as Admin", step_down_band_url, method: :patch %>
  <% end %>
</li>
