<li>
  <%= gravatar_for member.user, size: 50 %>
  <%= link_to member.user.name, member.user %>
  <% if member.is_admin? %>
    (Admin)
  <% end %>
  <% if can_manage_member?(member) && !member.is_admin? %>
    | <%= link_to "Remove from Band", remove_member_band_url(user_id: member.user_id), method: :delete %>
    | <%= link_to "Promote to Admin", promote_to_admin_band_url(user_id: member.user_id), method: :patch %>
  <% elsif can_manage_admin?(member) && member.is_admin?  %>
    | <%= link_to "Step Down as Admin", step_down_band_url(user_id: member.user_id), method: :patch %>
  <% end %>
</li>
