<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sqm-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Song Queue Manager", root_path, id: "logo", class: "navbar-brand" %>
    </div>
    <nav class="collapse navbar-collapse" id="sqm-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",     root_path %></li>
        <% if admin? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Soundtracks <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "View All",        soundtracks_path %></li>
              <li><%= link_to "New Sooundtrack", new_soundtrack_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Songs <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "View All", songs_path %></li>
              <li><%= link_to "New Song", new_song_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Artists <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "View All",   artists_path %></li>
              <li><%= link_to "New Artist", new_artist_path %></li>
            </ul>
          </li>
        <% end %>
        <% if admin? || !@open_events.blank? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Events <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "View All",  events_path %></li>
              <% if admin? %>
                <li><%= link_to "New Event", new_event_path %></li>
              <% end %>
              <% if !@open_events.blank? %>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Current Events</li>
                <% @open_events.each do |event| %>
                  <li><%= link_to event.name, event_path(event) %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Events",   events_path %></li>
        <% end %>
        <li><%= link_to "Help",     help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "My Bands", bands_user_url(current_user) %></li>
              <li><%= link_to "Notifications (#{unread_notifications})", notifications_path %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
