<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Song Queue Manager", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",     root_path %></li>
        <% if admin? || !@open_events.blank? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Events <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "View All",  events_path %></li>
              <% if admin? %>
                <li><%= link_to "New Event", new_event_path %></li>
              <% end %>
              <% if !@open_events.blank? %>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Current Events</li>
                <% @open_events.each do |event| %>
                  <li><%= link_to event.name, event_path(event) %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Events",   events_path %></li>
        <% end %>
        <li><%= link_to "Help",     help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "My Bands", bands_user_url(current_user) %></li>
              <li><%= link_to "Notifications (#{unread_notifications})", notifications_path %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
